# Node.js related files
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
vendor/

# Environment variables
.env

# Production build files
build/
dist/

# MacOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
