.logo-link img {
  transition: transform 0.3s ease;
}

.logo-link img:hover {
  transform: rotate(10deg) scale(1.1);
}

.section-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.section-link:hover {
  color: #007bff;
  animation: bounce 1s;
}

.custom-tooltip {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 300px;
}

.featured-post-card {
  height: 300px;
}